.svn
assets/ckeditor/*.*
assets/ckeditor/**/*.*
assets/ckeditor/**/**/*.*
assets/ckeditor/**/**/**/*.*
assets/images/*.*
assets/images/**/*.*
assets/images/**/**/*.*
assets/images/**/**/**/*.*
assets/images/**/**/**/**/*.*
docs/html/*.*
docs/html/**/*.*
docs/html/**/**/*.*
docs/html.zip
openssl/*.pem
config/db.passwords.txt
config/db.conf.php.bak
views/backend/*.php
views/software/*.php
views/software/**/*.php
views/software/**/**/*.php
views/software/**/**/*.php5
node_modules
/vendor/
