/* Created: 12/09/05 16.29.09 by claudio */

.faq-answer:first-letter,
.faq-question:first-letter
{
  font-weight: bold
}

.faq-answer
{
  padding-left: 2em
}

p#feature-secure
{
	background: transparent url('/assets/images/software/keychain.png') no-repeat center left;
	padding-left:47px;
	min-height: 32px;
}
p#feature-swupdate
{
	background: transparent url('/assets/images/software/swupdate.png') no-repeat center left;
	padding-left:47px;
	min-height: 32px;
}
p#feature-translation
{
	background: transparent url('/assets/images/software/international.png') no-repeat center left;
	padding-left:47px;
	min-height: 32px;
}
p#feature-addressbook
{
	background: transparent url('/assets/images/software/addressbook.png') no-repeat center left;
	padding-left:47px;
	min-height: 32px;
}