// Mixins
@mixin fira($font-size) {
  font-family: 'Fira Sans', Arial, sans-serif;
  font-size: $font-size;
}

@mixin satisfy($font-size) {
  font-family: Satisfy, cursive;
  font-size: $font-size;
}

@mixin courgette($font-size) {
  font-family: Courgette, cursive;
  font-size: $font-size;
}

@mixin icomoon($font-size: 1em) {
  font-family: icomoon;
  font-size: $font-size;
}

@mixin icomoon-icon($content, $side: right) {
  &:before {
    @include icomoon(.9em);
    content: $content;
    margin-#{$side}: .25em;
    vertical-align: baseline;
  }
}

@mixin breakpoint($min-width: 768px) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}
