// Variables
$light-pink: #d6699b;
$bright-pink: #d62475;
$medium-pink: #cb1065;
$dark-pink: #b30e59;

$light-blue: #baedff;
$medium-blue: #54d1ff;
$dark-blue: #0084b4;

$white: #fff;
$black: #000;

$light-gray: #eee;
$dark-white: #f0f0f0;
$medium-gray: #999;
$dark-gray: #666;
