// Variables
$light-pink: #d6699b;
$bright-pink: #d62475;
$medium-pink: #cb1065;
$dark-pink: #b30e59;

$light-blue: #baedff;
$medium-blue: #54d1ff;
$dark-blue: #0084b4;

$white: #fff;
$black: #000;

$light-gray: #eee;
$mid-gray: #999;
$dark-gray: #666;

// Mixins
@mixin fira($font-size) {
  font-family: 'Fira Sans', Arial, sans-serif;
  font-size: $font-size;
}

@mixin satisfy($font-size) {
  font-family: Satisfy, cursive;
  font-size: $font-size;
}

html {
margin: 0;
color: #444;
@include fira(12pt);
background-color: #fff;
height: 100%;

}

body {
margin: 0;
position: relative;
height: 100%;
}
#external,
#external-small {
width: 800px;
margin: auto;
-webkit-box-shadow: 0 -5px 10px 0 #9EA2A3;
-moz-box-shadow: 0 -5px 10px 0 #9EA2A3;
box-shadow: 0 -5px 10px 0 #9EA2A3;
}
#top,
#top-small {
height: 139px;
background: transparent url("/assets/images/bradley/blueplaster.png") no-repeat 0 0;
}
* html #top,
* html #top-small {
width: 850px;
}
#page {
background-color: #fff;
padding: 40px 0 0 0;
}
#page-bg {
}
* html #external,
* html #external-small {
width: 850px;
}
#brd_w {
}
#brd_e {
}
#brd_s {
}
#crn_sw {
}
#crn_se {
}
.clear {
clear: both;
}
.section,
    .last-section {
}
.section {
margin-bottom: 4em;
}

.prev_next {
    margin-bottom: 2em;
    height: 1em;
    .fwd {
      float: right;
    }
}

a.top,
a.fwd,
a.back,
a.top::before,
a.fwd::after,
a.back::before {
  @include satisfy(14pt);
}
a.top::before {
  content: "\2191 ";
}
a.fwd::after {
  content: " \2192";
}
a.back::before {
  content: "\2190 ";
}
a.top:hover,
a.top:active,
a.fwd:hover,
a.fwd:active,
a.back:hover,
a.back:active {
background-color: transparent;
}
a.glossary {
cursor: help;
}
.ad-item {
margin: 4em 0 2em 0;
}
#footnotes,
    .lighter {
color: #666;
}
a img {
border: 0;
}
a:link,
    a:visited {
text-decoration: none;
color: #0084b4;
}
a:hover,
a:focus,
a:active {
/*background-color: #eee;*/
color: $light-pink;
text-decoration: underline;
}
.rss-feed {
float: right;
}
.rss-feed a,
a.rss,
a.feed {
padding-left: 14px;
background: transparent url("/assets/images/minimal/feed12.gif") no-repeat center left;
}
#center-column, .center-column {
  margin: auto;
  padding-right: 30px;
}
#right-column {
  display: none;
float: right;
width: 180px;
margin: -40px 0 0 0;
padding: 40px 10px 0 10px;
text-align: left;
font-size: 9pt;
background: #eee; /* Old browsers */
background: -moz-linear-gradient(top, #eeeeee 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #eeeeee 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #eeeeee 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #eeeeee 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#right-column ul li {
text-align: left;
/*list-style-image: url("/assets/images/minimal/bullet.png");*/
}
.footer {
  font-size: 9pt;
  color: #999;
  text-align: center;
  padding: 30px 30px 60px 30px;
}
.footer a:link,
.footer a:visited {
}
h1,
h2,
h3,
h4 {
text-align: left;
line-height: 1.5;
}
h1 {
color: #000;
@include satisfy(32pt);
margin: 0 0 2em 0;
}
h2 {
@include satisfy(28pt);
padding-bottom: 10px;
border-bottom: 1px solid #eee;
}
h2, h3, h4 {
color: #000;
font-weight: normal;
margin: 0.25em 0 1.5em 0;
}
h3 {
@include satisfy(24pt);
margin-bottom: 0;
}
h4 {
@include satisfy(18pt);
margin-bottom: 0.5em;
}
h3,
#right-column h3 {
text-transform: none;
text-align: left;
margin: 1em 0 0.5em 0;
}
#right-column h3 {
}
li h3 {
margin: 0.25em 0 0 0;
background: none;
}
.comment-odd h3,
.comment-awaiting-moderation h3,
h3.centered,
h2.centered,
h4.centered {
background: none !important;
}
*+h2,
*+h3,
*+h4 {
margin-top: 1em;
}
div.rss-feed+h2 {
margin-top: 0.25em;
}
p {
text-align: justify;
line-height: 1.8;
margin: 1em 0;
}
p:first-letter {/*    padding-left: 3em*/
}
.go-top {
float: right;
}
fieldset {
padding: 0 4px 4px 4px;
margin: 0;
}
fieldset .ads {
margin: auto;
}
fieldset legend {
background-color: #fff;
color: #ccc;
}
#right-column fieldset p {
text-align: center;
}

input[type=text],
input[type=password],
input[type=button],
input[type=submit],
input[type=reset],
  textarea {
    margin: 0 0.5em 0 0;
    font-size: 12pt;
}
input[type=text],
input[type=password],
  textarea {
background-color: #fff;
padding: 6px;
border: 1px solid #578;
  .labeled {
    width: 18em;
  }
}
input[type=text]:focus,
input[type=password]:focus,
  textarea:focus {
background-color: #f0f3fa;
}
input[type=button],
input[type=submit],
input[type=reset] {
  background-color: $dark-blue;
  border-radius: 4px;
  border: 1px solid $dark-blue;
  color: white;
  padding: 10px 30px;
}

image.picture {
padding: 5px !important;
background-color: #c5efd4;
border: 1px solid #c5efd4 !important;
}
#central,
#single-central,
.central,
.single-central {
}
#header {
display: none;
height: 75px;
margin: 0 -1px;
}
#other-navbar {
background: #4a97ad; /* Old browsers */
	background: -moz-linear-gradient(top, #4a97ad 0%, #55adc7 15%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a97ad), color-stop(15%,#55adc7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4a97ad 0%,#55adc7 15%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4a97ad 0%,#55adc7 15%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4a97ad 0%,#55adc7 15%); /* IE10+ */
	background: linear-gradient(to bottom, #4a97ad 0%,#55adc7 15%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a97ad', endColorstr='#55adc7',GradientType=0 ); /* IE6-9 */
}
#navbar {
padding: 0 20px;
margin: 0;
}
#navbar a:link,
#navbar a:visited {
color: #000;
}
#backend-navbar {
margin: 0 0 20px 0;
}
#toplinks {
display: none; /* for now */
float: right;
margin-right: 20px;
color: #999;
}
* html #toplinks {
width: 810px;
margin: 10px auto 0 auto;
}
#toplinks a:link,
      #toplinks a:visited {
}
.navitem,
.subnavitem {
display: block;
float: left;
padding: 7px 20px 8px 20px;
height: 25px;
border-left: 2px solid $medium-pink;
}
.subnavitem {
padding: 5px 10px;
border-color: #eee;
}
.subnavitem:hover,
.subnavitem:active,
.navitem:hover,
.navitem:active,
.here:hover,
.this-subnavitem,
.this-subnavitem:hover {
}
a.this-subnavitem {
background-color: #F0F2F3;
-webkit-box-shadow: inset 10px 10px 10px -10px #666, inset -10px -10px 10px -10px #666;
-moz-box-shadow: inset 10px 10px 10px -10px #666, inset -10px -10px 10px -10px #666;
box-shadow: inset 10px 10px 10px -10px #666, inset -10px -10px 10px -10px #666;
}
#navbar a.navitem:link,
#navbar a.navitem:visited {
color: #f0f0f0;
}
#navbar a.navitem:hover,
#navbar a.navitem:active {
  color: #baedff;
}
a.here:link,
a.here:visited {
color: #fff;
text-decoration: underline;
}
.subnavfirst ,
.navfirst {
border: none;
}
.navfirst:before,
.subnavfirst:before {
content: none;
}

.subnavlast,
.navlast {
background-position: center right !important;
padding-right: 10px !important;
}
a.external {
background: url("/assets/images/minimal/external12.gif") center right no-repeat;
padding-right: 14px;
}
a.key {
}
a.exit {
}
a.write {
}
.diario-controls a.comment,
.articoli-controls a.comment {
/*background: url("/assets/images/minimal/comment12.gif") center left no-repeat;*/
padding-left: 14px;
}
.diario-controls a.permalink,
.articoli-controls a.permalink {
/*background: url("/assets/images/minimal/anchor12.gif") center left no-repeat;*/
padding-left: 14px;
}
a.trackback {
/*background: url("/assets/images/minimal/trackback12.gif") center left no-repeat;*/
padding-left: 14px;
}
a.itunes {
/*background: url("/assets/images/minimal/music12.gif") center left no-repeat;*/
padding-left: 14px;
}
#navbar,
#subnavbar,
.subnavbar {
display: block;
height: 40px;
padding: 0;
}
#navbar li,
#subnavbar li,
.subnavbar li {
display: block;
float: left;
padding: 0;
}
#page #single-central ul.subnavbar {
margin-top: 0;
}
.navbox {
padding: 2em 0 3em 0;
}
hr {
border: none;
height: 0px;
border-top: 1px solid #c5efd4;
}
.centered {
text-align: center;
}
ul,
ol {
margin-left: 0;
padding-left: 1.25em;
}
li {
text-align: justify;
line-height: 1.8;
list-style-position: outside;
}
#cal-div {
height: 210px;
}
#calendario a {
text-decoration: underline;
}
#toppage-ads {
margin: 0 -1px;
border-left: 1px solid #999;
border-right: 1px solid #999;
width: 765px;
height: 30px;
overflow: hidden;
}
li.plain {
line-height: 1;
display: block;
list-style-type: none;
margin-bottom: 0.5em;
}

li.diario {
margin-bottom: 1.5em;
}

ul.plain {
margin-left: 0;
padding-left: 0;
}

form {
margin-top: 1.5em;
}

.article-controls {
margin: 1em 0 3em 0;
padding-top: 0.5em;
/*	border-top: 1px dotted #eee;*/
}

.expander {
clear: left;
}

.expander,
.diario-controls,
.articoli-controls {
text-align: right;
padding-top: 5px;
/*	border-top: 1px dotted #eee;*/
}

.my-comment,
.comment-even,
.comment-odd,
.comment-awaiting-moderation {
padding: 1em 1em 0.5em 1em;
margin: 1em 0;
}

.my-comment {
background-color: #e9f0ff;
border: 1px solid #bed4ff;
}

.comment-even {
background-color: transparent;
}
.comment-odd {
background-color: #edf7fd;
}

.comment-awaiting-moderation {
background-color: #EBEEFB;
border: 1px dotted #BEC9F2;
}

.my-comment h4,
.comment-even h4,
.comment-odd h4 {
margin-top: 0;
}
.form-right {
text-align: right;
}

.bezel {
position: absolute;
width: 450px;
display: none;
}

.bz_crn_nw,
.bz_crn_ne,
.bz_brd_n,
.bz_brd_s,
.bz_crn_sw,
.bz_crn_se {
height: 22px;
}

.bz_crn_nw {
/*background: url("/assets/images/bz/crn_nw.png") no-repeat top left;*/
padding-left: 22px;
}

.bz_crn_sw {
/*background: url("/assets/images/bz/crn_sw.png") no-repeat bottom left;*/
padding-left: 22px;
}

.bz_crn_ne {
/*background: url("/assets/images/bz/crn_ne.png") no-repeat top right;*/
padding-right: 22px;
}

.bz_crn_se {
/*background: url("/assets/images/bz/crn_se.png") no-repeat bottom right;*/
padding-right: 22px;
}

.bz_brd_n {
/*background: url("/assets/images/bz/brd_n.png") repeat-x top left;*/
}
.bz_brd_s {
/*background: url("/assets/images/bz/brd_s.png") repeat-x bottom left;*/
}

.bz_brd_w {
/*background: url("/assets/images/bz/brd_w.png") repeat-y top left;*/
padding-left: 22px;
}

.bz_brd_e {
/*background: url("/assets/images/bz/brd_e.png") repeat-y top right;*/
padding-right: 22px;
}

.bz_body {
/*background: url("/assets/images/bz/bg.png") repeat 0 0;*/
padding: 0.5em 1em;
}

.bezel h2,
.bezel p {
margin: 0;
color: #fff;
background: none;
}

.bezel h2 {
padding-top: 0.5em;
border-bottom-color: #69f;
}

.bezel p {
font-size: 10pt;
padding: 1em 0;
}

.u {
text-decoration: underline !important;
}

acronym {
border-bottom: 1px dotted #333;
cursor: help;
}

#right-column acronym {
}

.red-badge {
padding: 2px 0 2px 21px;
/*background: url("/assets/images/redalert-18.png") no-repeat left center;*/
}

.diario-controls,
.articoli-controls {
margin: 2em 0 3em 0;
}
#eme-title,
#eme-about,
#eme-logo-black {
display: none;
}
#version {
display: none;
}
.day {
padding: 2px;
}
.day a {
}
.today {
/*background: transparent url("/assets/images/minimal/today.gif") no-repeat center center;*/
color: #fff;
background-color: #d6116b;
}
.today a {
color: #fff;
}

#calendario-month-header a.fwd {
padding-right: 14px;
background: transparent url("/assets/images/minimal/fwd12.gif") no-repeat center right;
}

#calendario-month-header a {
text-decoration: none !important;
}

#calendario td {
width: 20px;
height: 19px;
}

blockquote {
border-left: 4px solid #56d283;
padding-left: 2em;
margin-left: 1em;
}

/*
blockquote:before {
content: open-quote;
font-size: 24pt;
color: #ccc;
float: left;
}
*/

#footnotes::before {
content: '\8212';
color: #aaa;
}

img.bordered {
padding: 6px;
background-color: #f9f9f9;
border: 1px solid #c5efd4;
}

p.caption {
padding-top: 24px;
color: #aaa;
text-align: center;
}

#toplinks ul {
margin: 0;
padding: 0;
}

#toplinks li,
.articoli-controls li,
.diario-controls li {
display: inline;
margin-right: 6px;
}

* html #toplinks li,
* html .articoli-controls li,
* html .diario-controls li {
margin-right: 18px;
}

#toplinks li+li,
.diario-controls li+li,
.articoli-controls li+li {
padding-left: 14px;
/*background: transparent url("/assets/images/minimal/bullet.png") no-repeat left center;*/
}

#toplinks li+li {
}
.tablebee-row {
padding: 0.5em 1em 1em 0.5em !important;
}
.alternate {
background-color: #f9f9f9;
}

.awaiting-moderation-notice {
margin-top: 0.5em;
padding-top: 0.5em;
border-top: 1px dotted #BEC9F2;
color: #99AAEB;
text-align: center;
}

code, pre {
  font-size: 12pt;
  line-height: 1.5;
}

/* Argh! Why the heck doesn't this work?!
p+p:first-letter {
margin-left: 3em;
}
*/

div.spacer20 {
height: 20px;
}

#flash,
#flash.message {
clear: both;
margin: 0 60px;
padding: 20px 20px 20px 72px;
background-color: #f9f9f9;
/*background: #f9f9f9 url("/assets/images/message.png") no-repeat 20px center;*/
}

#flash.question {
/*background-image: url("/assets/images/question.png") !important;*/
}

#flash.warning {
background-color: #ffc;
/*background-image: url("/assets/images/alert.png") !important;*/
}

#flash.error {
background-color: #fcc;
/*background-image: url("/assets/images/error.png") !important;*/
}

div.spacer10 {
height: 10px;
}
ol#breadcrumbs {
margin-left: 4px;
}

* html ol#breadcrumbs {
margin-left: 20px;
}

ol#breadcrumbs li {
padding-right: 5px;
display: inline;
}

ol#breadcrumbs li + li:before {
content: "> ";
}

.software-item {
margin: 10px 0 20px 0;
}
.software-abstract {
margin-left: 84px;
}
.software-icon {
float: left;
width: 64px;
text-align: center;
}
ul.version {
margin-left: 84px;
padding-left: 0;
}
ul.version li {
display: inline;
}
ul.version li+li:before {
content: " � ";
}

.throbber,
.throbber_indeterminate,
.throbber_active,
.throbber_paused {
min-height: 14px;
padding-right: 16px;
/*background: #fff url("/assets/images/throbber_indeterminate.png") no-repeat right center;*/
}

.throbber_indeterminate {
/*background-image: url("/assets/images/throbber_indeterminate.png");*/
}
.throbber_active {
/*background-image: url("/assets/images/throbber_white.gif");*/
}
.throbber_paused {
/*background-image: url("/assets/images/throbber_paused.png");*/
}

#message-board {
background-color: #e5f9ec;
color: #444;
padding: 4px 20px;
text-shadow: 0 1px 1px #fff;
}

#language-chooser {
float: right;
}
#language-chooser ul,
#language-chooser li {
display: inline;
margin: 0;
padding: 0;
}
#language-chooser li + li {
list-style-image: none;
padding-left: 2px;
background: none;
}
#the-language {
margin-right: 5px;
}

table.list {
border-collapse: collapse;
  td {
    border-top: none;
    border-bottom: none;
  }
}

th.nav {
  padding: 2px 4px;
  white-space: nowrap;
  border: 1px solid #ddd;
  background: #c5efd4 url("/assets/images/minimal/th-nav.png") repeat-x center center;

  a {
    display: block;
    text-decoration: none;
    color: #69f !important;
    font-weight: normal;

    &.orderdown,
    &.orderup {
      padding-left: 14px;
    }
  }
}

th.myorder {
border-color: #c6c6c6;
background: #ddd url("/assets/images/minimal/th-nav-myorder.png") repeat-x center center;
color: #333 !important;
text-shadow: 0 1px 1px #c5efd4;
}

.row0 {
}
.row1 {
background-color: #F7F9FD;
}
.toolbar {
}
.toolbaritem-selected,
.toolbaritem {
text-decoration: none !important;
color: #69f !important;
display: block;
float: left;
padding: 10px 20px;
height: 15px;
background-color: #c5efd4;
/*background: #c5efd4 url("/assets/images/minimal/tabgloss.png") repeat-x center center;*/
}
.toolbaritem:hover,
.toolbaritem:active,
.toolbaritem-selected,
.toolbaritem-selected:hover {
color: #333 !important;
background: #ddd;
/*background: #ddd url("/assets/images/minimal/tabgloss-hover.png") repeat-x center center;*/
text-shadow: 0 1px 1px #c5efd4;
}
.firstitem {
background-position: center left !important;
padding-left: 25px !important;
}
.lastitem {
background-position: center right !important;
padding-right: 25px !important;
}
.card {
border: 1px solid #c5efd4;
padding: 20px;
}

.pager {
float: right;
margin: 0 0 10px 0;
}
.btn {
text-decoration: none !important;
color: #69f !important;
display: block;
float: left;
padding: 4px 10px;
height: 15px;
background: #c5efd4;
}
.btn:hover,
.btn:active,
.this-btn,
.this-btn:hover {
color: #333 !important;
background: #ddd;
text-shadow: 0 1px 1px #c5efd4;
}
.btnfirst {
background-position: center left !important;
padding-left: 12px !important;
}
.btnlast {
background-position: center right !important;
padding-right: 12px !important;
}

.minibtn-left {
	padding-left: 6px;
margin-right: 2px;
}
.minibtn-left:hover {
}
.minibtn-right {
text-decoration: none !important;
font-size: 7pt;
padding-right: 6px;
color: #333 !important;
text-shadow: 0 1px 1px #c5efd4;
}
.minibtn-right:hover,
.minibtn-right:active {
color: #69f !important;
}
.service {
white-space: normal !important;
}
.list em,
.cloud em {
display: block;
margin: 20px 0;
text-align: center;
}
.searchfield {
width: 130px;
}
.navbox #left-column {
float: left;
width: 290px;
position:relative
}
.navbox #center-column {
margin: 0 20px 0 310px;
}
@media (max-width: 800px) and (min-width: 600px) {
#external,
#external-small {
width: 100%;
}
#top,
#top-small {
background-position: 100% 0;
}
.navbox #left-column {
display:none;
}
.navbox #center-column {
margin-left: 0;
}

}
@media (max-width: 600px) {
#external,
#external-small {
width: 100%;
}
#top,
#top-small {
height: 49px;
background-position: 100% 100%;
}
.navbox #left-column {
display:none;
}
.navbox #center-column {
margin-left: 0;
}

#right-column {
display: none;
}
#center-column {
margin-right: 0;
}
div.rss-feed {
float: none;
text-align: right;
}
.navitem,
.subnavitem {
padding-left:10px;
padding-right:10px;
}
}

a, header {
  transition-duration: .5s;
}

main {
  background: transparent url(/assets/images/cupcakes/header_bg.jpg) repeat-x 2367px -250px;
  background-attachment: fixed;
  padding-top: 200px;
}
.central, .single-central {
  background-color: #fff;
  padding: 25px 0 60px 30px;
}

header {
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 0;
  opacity: 1;
  background: $bright-pink;
  background: -moz-linear-gradient(top, $bright-pink 0%, #d6116b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$bright-pink), color-stop(100%,#d6116b));
  background: -webkit-linear-gradient(top, $bright-pink 0%,#d6116b 100%);
  background: -o-linear-gradient(top, $bright-pink 0%,#d6116b 100%);
  background: -ms-linear-gradient(top, $bright-pink 0%,#d6116b 100%);
  background: linear-gradient(to bottom, $bright-pink 0%,#d6116b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d62475', endColorstr='#d6116b',GradientType=0 );
  box-shadow: 0 0 5px #000;

  nav {
    float: none;
  }

  h1 {
    color: #f0f0f0;
    font-size: 32pt;
    margin: 10px 20px;
    padding: 0;
    text-align: center;
  }

  &.headroom--pinned {
    position: fixed;
    top: 0;
  }
  &.headroom--unpinned {
    top: -75px;
    opacity: .3;
  }
}

label.left-aligned {
  float: none;
}
.padded-to-label {
  padding-left: 0;
}
.labeled {
  margin-left: 0;
}

.error-outer {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  height: 100px;
}

#flash, #flash.message {
  margin: 0;
}

@font-face {
    font-family: icomoon;
    src: url(/assets/fonts/IcoMoon-Free.ttf);
    font-weight: 400;
    font-style: normal
}

footer {
  background-color: $light-gray;

  .footer {
    .social-icons {
      margin: 0;
      padding: 0;

      li {
        font-family: icomoon;
        display: inline-block;
        font-size: 18pt;
        padding: 10px;

        a {
          color: $mid-gray;
          text-decoration: none;

          &.github {
            &::before {
              content: '\eab2';
            }
            &:hover {
              color: green;
            }
          }

          &.twitter {
            &::before {
              content: '\ea91';
            }
            &:hover {
              color: $medium-blue;
            }
          }

          &.instagram {
            &::before {
              content: '\ea90';
            }
            &:hover {
              color: brown;
            }
          }

          &.codepen {
            &::before {
              content: '\eae4';
            }
            &:hover {
              color: $black;
            }
          }

          &.linkedin {
            &::before {
              content: '\eac9';
            }
            &:hover {
              color: $dark-blue;
            }
          }

          &.flickr {
            &::before {
              content: '\eaa1';
            }
            &:hover {
              color: $medium-pink;
            }
          }

          &.youtube {
            &::before {
              content: '\ea97';
            }
            &:hover {
              color: red;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    nav {
      float: right;
      margin: -40px 10px 0 0;
    }

    h1 {
      text-align: inherit;
    }
  }

  main {
    padding-top: 250px;
    background-position-x: left;

    #central,
    #single-central,
    .central,
    .single-central {
      padding: 60px 0 60px 30px;
      margin-top: 0;
    }
  }

  footer {
    background-color: $light-gray;

    .footer {
      .social-icons {

        li {
          font-size: 24pt;
        }
      }
    }
  }

  .error-outer {
    top: 250px;
  }
}

@media screen and (min-width: 1024px) {
  #center-column, .center-column {
    max-width: 800px;
  }
}

@media screen and (min-width: 1400px) {
  #center-column, .center-column {
    width: 1024px;
  }
}
