@import "variables";
@import "mixins";

html {
margin: 0;
color: #444;
@include fira(12pt);
background-color: $white;
height: 100%;
}

body {
  overflow: auto;
  margin: 0;
  height: 100%;
}
#external,
#external-small {
width: 800px;
margin: auto;
-webkit-box-shadow: 0 -5px 10px 0 #9EA2A3;
-moz-box-shadow: 0 -5px 10px 0 #9EA2A3;
box-shadow: 0 -5px 10px 0 #9EA2A3;
}
#top,
#top-small {
height: 139px;
// background: transparent url("/assets/images/bradley/blueplaster.png") no-repeat 0 0;
}
* html #top,
* html #top-small {
width: 850px;
}
#page {
background-color: $white;
padding: 40px 0 0 0;
}
#page-bg {
}
* html #external,
* html #external-small {
width: 850px;
}
#brd_w {
}
#brd_e {
}
#brd_s {
}
#crn_sw {
}
#crn_se {
}
.clear {
clear: both;
}
.section,
    .last-section {
}
.section {
margin-bottom: 4em;
}

.prev_next {
    margin-bottom: 1em;
    .fwd, .back {
      display: block;
    }
    .fwd {
      text-align: right;
    }
}

a.top,
a.fwd,
a.back,
a.top::before,
a.fwd::after,
a.back::before {
  @include satisfy(14pt);
}
a.top::before {
  content: "\2191 ";
}
a.fwd::after {
  content: " \2192";
}
a.back::before {
  content: "\2190 ";
}
a.top:hover,
a.top:active,
a.fwd:hover,
a.fwd:active,
a.back:hover,
a.back:active {
background-color: transparent;
}
a.glossary {
cursor: help;
}
.ad-item {
margin: 4em 0 2em 0;
}
#footnotes,
    .lighter {
color: $dark-gray;
}
a img {
border: 0;
}
a:link,
    a:visited {
text-decoration: none;
color: #0084b4;
}
a:hover,
a:focus,
a:active {
color: $light-pink;
text-decoration: underline;
}
.rss-feed {
float: right;
}
.rss-feed a,
a.rss,
a.feed {
padding-left: 14px;
background: transparent url("/assets/images/minimal/feed12.gif") no-repeat center left;
}
#center-column, .center-column {
  margin: auto;
  padding-right: 30px;
}
#right-column {
  display: none;
  float: right;
  width: 180px;
  margin: -40px 0 0 0;
  padding: 40px 10px 0 10px;
  text-align: left;
  font-size: 9pt;
  background: linear-gradient(to bottom, $light-gray 0%, $white 100%);
}
#right-column ul li {
  text-align: left;
}
.footer {
  font-size: 9pt;
  color: $medium-gray;
  text-align: center;
  padding: 30px 30px 60px 30px;
}
.footer a:link,
.footer a:visited {
}
h1,
h2,
h3,
h4 {
text-align: left;
line-height: 1.5;
}
h1 {
color: $black;
@include satisfy(32pt);
margin: 0 0 2em 0;
}
h2 {
@include satisfy(28pt);
padding-bottom: 10px;
border-bottom: 1px solid $light-gray;
}
h2, h3, h4 {
color: $black;
font-weight: normal;
margin: 0.25em 0 .5em 0;
}
h3 {
@include satisfy(24pt);
margin-bottom: 0;
}
h4 {
@include satisfy(18pt);
margin-bottom: 0.5em;
}
h3,
#right-column h3 {
text-transform: none;
text-align: left;
margin: 1em 0 0.5em 0;
}
#right-column h3 {
}
li h3 {
margin: 0.25em 0 0 0;
background: none;
}
.comment-odd h3,
.comment-awaiting-moderation h3,
h3.centered,
h2.centered,
h4.centered {
background: none !important;
}
*+h2,
*+h3,
*+h4 {
margin-top: 2em;
}
h1+h2,
h2+h3,
h2+h4,
h3+h4 {
margin-top: 1em;
}
div.rss-feed+h2 {
margin-top: 0.25em;
}
p {
text-align: justify;
line-height: 1.8;
margin: 1em 0;
}
p:first-letter {
}
.go-top {
float: right;
}
fieldset {
padding: 0 4px 4px 4px;
margin: 0;
}
fieldset .ads {
margin: auto;
}
fieldset legend {
background-color: $white;
color: #ccc;
}
#right-column fieldset p {
text-align: center;
}

input[type=text],
input[type=password],
input[type=button],
input[type=submit],
input[type=reset],
textarea {
  margin: 0 0.5em 0 0;
  font-size: 12pt;
}
input[type=text],
input[type=password],
textarea {
  background-color: $white;
  padding: 6px;
  border: 1px solid #578;

  .labeled {
    width: 18em;
  }
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  background-color: #f0f3fa;
}
input[type=button],
input[type=submit],
input[type=reset] {
  background-color: $dark-blue;
  border-radius: 4px;
  border: 1px solid $dark-blue;
  color: white;
  padding: 10px 30px;
}

image.picture {
padding: 5px !important;
background-color: #c5efd4;
border: 1px solid #c5efd4 !important;
}
#central,
#single-central,
.central,
.single-central {
}
#header {
display: none;
height: 75px;
margin: 0 -1px;
}
#other-navbar {
	background: linear-gradient(to bottom, #4a97ad 0%,#55adc7 15%);
}
#navbar {
  padding: 0 20px;
  margin: 0;

  a:link,
  a:visited {
    color: $black;
  }

  a.navitem:link,
  a.navitem:visited {
    color: #f0f0f0;
  }
  a.navitem:hover,
  a.navitem:active {
    color: #baedff;
  }

}

#backend-navbar {
margin: 0 0 20px 0;
}
#toplinks {
display: none; /* for now */
float: right;
margin-right: 20px;
color: $medium-gray;
}
* html #toplinks {
width: 810px;
margin: 10px auto 0 auto;
}
#toplinks a:link,
      #toplinks a:visited {
}
.navitem,
.subnavitem {
display: block;
padding: 7px 20px 8px 20px;
height: 25px;
border-top: 2px solid $medium-pink;
}
.subnavitem {
padding: 5px 10px;
border-color: $light-gray;
}
.subnavitem:hover,
.subnavitem:active,
.navitem:hover,
.navitem:active,
.here:hover,
.this-subnavitem,
.this-subnavitem:hover {
}
a.this-subnavitem {
background-color: #F0F2F3;
-webkit-box-shadow: inset 10px 10px 10px -10px $dark-gray, inset -10px -10px 10px -10px $dark-gray;
-moz-box-shadow: inset 10px 10px 10px -10px $dark-gray, inset -10px -10px 10px -10px $dark-gray;
box-shadow: inset 10px 10px 10px -10px $dark-gray, inset -10px -10px 10px -10px $dark-gray;
}

a.here:link,
a.here:visited {
color: $white;
text-decoration: underline;
}
.navfirst:before,
.subnavfirst:before {
content: none;
}

.subnavlast,
.navlast {
background-position: center right !important;
padding-right: 10px !important;
}
a.external {
background: url("/assets/images/minimal/external12.gif") center right no-repeat;
padding-right: 14px;
}
a.key {
}
a.exit {
}
a.write {
}
.diario-controls a.comment,
.articoli-controls a.comment {
  padding-left: 14px;
}
.diario-controls a.permalink,
.articoli-controls a.permalink {
  padding-left: 14px;
}
a.trackback {
  padding-left: 14px;
}
a.itunes {
  padding-left: 14px;
}
#navbar,
#subnavbar,
.subnavbar {
display: block;
padding: 0;
}
#navbar li,
#subnavbar li,
.subnavbar li {
display: block;
padding: 0;
text-align: center;
text-transform: uppercase;
  a {
    display: block;
  }
}
#page #single-central ul.subnavbar {
margin-top: 0;
}
.navbox {
padding: 2em 0 3em 0;
}
hr {
border: none;
height: 0px;
border-top: 1px solid #c5efd4;
}
.centered {
text-align: center;
}
ul,
ol {
margin-left: 0;
padding-left: 1.25em;
}
li {
text-align: justify;
line-height: 1.8;
list-style-position: outside;
}
#cal-div {
height: 210px;
}
#calendario a {
text-decoration: underline;
}
#toppage-ads {
margin: 0 -1px;
border-left: 1px solid $medium-gray;
border-right: 1px solid $medium-gray;
width: 765px;
height: 30px;
overflow: hidden;
}
li.plain {
line-height: 1;
display: block;
list-style-type: none;
margin-bottom: 0.5em;
}

li.diario {
margin-bottom: 1.5em;
}

ul.plain {
margin-left: 0;
padding-left: 0;
}

form {
margin-top: 1.5em;
}

.article-controls {
margin: 1em 0 3em 0;
padding-top: 0.5em;
}

.expander {
clear: left;
}

.expander,
.diario-controls,
.articoli-controls {
  text-align: right;
  padding-top: 5px;
}

.my-comment,
.comment-even,
.comment-odd,
.comment-awaiting-moderation {
padding: 1em 1em 0.5em 1em;
margin: 1em 0;
}

.my-comment {
background-color: #e9f0ff;
border: 1px solid #bed4ff;
}

.comment-even {
background-color: transparent;
}
.comment-odd {
background-color: #edf7fd;
}

.comment-awaiting-moderation {
background-color: #EBEEFB;
border: 1px dotted #BEC9F2;
}

.my-comment h4,
.comment-even h4,
.comment-odd h4 {
margin-top: 0;
}
.form-right {
text-align: right;
}

.bezel {
position: absolute;
width: 450px;
display: none;
}

.bz_crn_nw,
.bz_crn_ne,
.bz_brd_n,
.bz_brd_s,
.bz_crn_sw,
.bz_crn_se {
height: 22px;
}

.bz_crn_nw {
padding-left: 22px;
}

.bz_crn_sw {
padding-left: 22px;
}

.bz_crn_ne {
padding-right: 22px;
}

.bz_crn_se {
padding-right: 22px;
}

.bz_brd_n {
}
.bz_brd_s {
}

.bz_brd_w {
padding-left: 22px;
}

.bz_brd_e {
padding-right: 22px;
}

.bz_body {
padding: 0.5em 1em;
}

.bezel h2,
.bezel p {
margin: 0;
color: $white;
background: none;
}

.bezel h2 {
padding-top: 0.5em;
border-bottom-color: #69f;
}

.bezel p {
font-size: 10pt;
padding: 1em 0;
}

.u {
text-decoration: underline !important;
}

acronym {
border-bottom: 1px dotted #333;
cursor: help;
}

#right-column acronym {
}

.red-badge {
padding: 2px 0 2px 21px;
}

.diario-controls,
.articoli-controls {
margin: 2em 0 3em 0;
}
#eme-title,
#eme-about,
#eme-logo-black {
display: none;
}
#version {
display: none;
}
.day {
padding: 2px;
}
.day a {
}
.today {
color: $white;
background-color: $brighter-pink;
}
.today a {
color: $white;
}

#calendario-month-header a.fwd {
padding-right: 14px;
background: transparent url("/assets/images/minimal/fwd12.gif") no-repeat center right;
}

#calendario-month-header a {
text-decoration: none !important;
}

#calendario td {
width: 20px;
height: 19px;
}

blockquote {
border-left: 4px solid #56d283;
padding-left: 2em;
margin-left: 1em;
}

/*
blockquote:before {
content: open-quote;
font-size: 24pt;
color: #ccc;
float: left;
}
*/

#footnotes::before {
content: '\8212';
color: #aaa;
}

img.bordered {
padding: 6px;
background-color: #f9f9f9;
border: 1px solid #c5efd4;
}

p.caption {
padding-top: 24px;
color: #aaa;
text-align: center;
}

#toplinks ul {
margin: 0;
padding: 0;
}

#toplinks li,
.articoli-controls li,
.diario-controls li {
display: inline;
margin-right: 6px;
}

* html #toplinks li,
* html .articoli-controls li,
* html .diario-controls li {
margin-right: 18px;
}

#toplinks li+li,
.diario-controls li+li,
.articoli-controls li+li {
padding-left: 14px;
}

#toplinks li+li {
}
.tablebee-row {
padding: 0.5em 1em 1em 0.5em !important;
}
.alternate {
background-color: #f9f9f9;
}

.awaiting-moderation-notice {
margin-top: 0.5em;
padding-top: 0.5em;
border-top: 1px dotted #BEC9F2;
color: #99AAEB;
text-align: center;
}

code, pre {
  font-size: 12pt;
  line-height: 1.5;
}

/* Argh! Why the heck doesn't this work?!
p+p:first-letter {
margin-left: 3em;
}
*/

div.spacer20 {
height: 20px;
}

#flash,
#flash.message {
clear: both;
margin: 0 60px;
padding: 20px 20px 20px 72px;
background-color: #f9f9f9;
}

#flash.question {
}

#flash.warning {
background-color: #ffc;
}

#flash.error {
background-color: #fcc;
}

div.spacer10 {
height: 10px;
}
ol#breadcrumbs {
margin-left: 4px;
}

* html ol#breadcrumbs {
margin-left: 20px;
}

ol#breadcrumbs li {
padding-right: 5px;
display: inline;
}

ol#breadcrumbs li + li:before {
content: "> ";
}

.software-item {
margin: 10px 0 20px 0;
}
.software-abstract {
margin-left: 84px;
}
.software-icon {
float: left;
width: 64px;
text-align: center;
}
ul.version {
  margin-left: 84px;
  padding-left: 0;

  li {
    display: inline;
  }
  li+li:before {
    content: " - ";
  }
}

.throbber,
.throbber_indeterminate,
.throbber_active,
.throbber_paused {
min-height: 14px;
padding-right: 16px;
}

.throbber_indeterminate {
}
.throbber_active {
}
.throbber_paused {
}

#message-board {
background-color: #e5f9ec;
color: #444;
padding: 4px 20px;
text-shadow: 0 1px 1px $white;
}

#language-chooser {
float: right;
}
#language-chooser ul,
#language-chooser li {
display: inline;
margin: 0;
padding: 0;
}
#language-chooser li + li {
list-style-image: none;
padding-left: 2px;
background: none;
}
#the-language {
margin-right: 5px;
}

table.list {
  border-collapse: collapse;

  td {
    border-top: none;
    border-bottom: none;
  }
}

th {
  &.nav {
    padding: 2px 4px;
    white-space: nowrap;
    border: 1px solid #ddd;
    background: #c5efd4 url("/assets/images/minimal/th-nav.png") repeat-x center center;

    a {
      display: block;
      text-decoration: none;
      color: #69f !important;
      font-weight: normal;

      &.orderdown,
      &.orderup {
        padding-left: 14px;
      }
    }
  }
  &.myorder {
    border-color: #c6c6c6;
    background: #ddd url("/assets/images/minimal/th-nav-myorder.png") repeat-x center center;
    color: #333 !important;
    text-shadow: 0 1px 1px #c5efd4;
  }
}

.row0 {
}
.row1 {
background-color: #F7F9FD;
}
.toolbar {
}
.toolbaritem-selected,
.toolbaritem {
text-decoration: none !important;
color: #69f !important;
display: block;
float: left;
padding: 10px 20px;
height: 15px;
background-color: #c5efd4;
}
.toolbaritem:hover,
.toolbaritem:active,
.toolbaritem-selected,
.toolbaritem-selected:hover {
color: #333 !important;
background: #ddd;
text-shadow: 0 1px 1px #c5efd4;
}
.firstitem {
background-position: center left !important;
padding-left: 25px !important;
}
.lastitem {
background-position: center right !important;
padding-right: 25px !important;
}
.card {
border: 1px solid #c5efd4;
padding: 20px;
}

.pager {
float: right;
margin: 0 0 10px 0;
}
.btn {
text-decoration: none !important;
color: #69f !important;
display: block;
float: left;
padding: 4px 10px;
height: 15px;
background: #c5efd4;
}
.btn:hover,
.btn:active,
.this-btn,
.this-btn:hover {
color: #333 !important;
background: #ddd;
text-shadow: 0 1px 1px #c5efd4;
}
.btnfirst {
background-position: center left !important;
padding-left: 12px !important;
}
.btnlast {
background-position: center right !important;
padding-right: 12px !important;
}

.minibtn-left {
	padding-left: 6px;
margin-right: 2px;
}
.minibtn-left:hover {
}
.minibtn-right {
text-decoration: none !important;
font-size: 7pt;
padding-right: 6px;
color: #333 !important;
text-shadow: 0 1px 1px #c5efd4;
}
.minibtn-right:hover,
.minibtn-right:active {
color: #69f !important;
}
.service {
white-space: normal !important;
}
.list em,
.cloud em {
display: block;
margin: 20px 0;
text-align: center;
}
.searchfield {
width: 130px;
}
.navbox #left-column {
float: left;
width: 290px;
position:relative
}
.navbox #center-column {
margin: 0 20px 0 310px;
}

@media (max-width: 800px) and (min-width: 600px) {
  #external,
  #external-small {
    width: 100%;
  }
  #top,
  #top-small {
    background-position: 100% 0;
  }
  .navbox #left-column {
    display:none;
  }
  .navbox #center-column {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  #external,
  #external-small {
    width: 100%;
  }
  #top,
  #top-small {
    height: 49px;
    background-position: 100% 100%;
  }
  .navbox #left-column {
    display:none;
  }
  .navbox #center-column {
    margin-left: 0;
  }

  #right-column {
    display: none;
  }
  #center-column {
    margin-right: 0;
  }
  div.rss-feed {
    float: none;
    text-align: right;
  }
  .navitem,
  .subnavitem {
    padding-left:10px;
    padding-right:10px;
  }
}

a, header {
  transition-duration: .5s;
}

main {
  margin-top: 250px;
}
.central, .single-central {
  background-color: $white;
  padding: 25px 0 60px 30px;
}

header {
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 0;
  opacity: 1;
  overflow: auto;
  background: linear-gradient(to bottom, $bright-pink 0%,$brighter-pink 100%);
  box-shadow: 0 0 5px $black;

  nav {
    float: none;
  }

  h1 {
    color: #f0f0f0;
    font-size: 32pt;
    margin: 10px 20px;
    padding: 0;
    text-align: center;
  }

  &.headroom--pinned {
    position: fixed;
    top: 0;
  }
  &.headroom--unpinned {
    top: -252px;
    opacity: .3;
  }
}

/*
label.left-aligned {
  float: none;
}
.padded-to-label {
  padding-left: 0;
}
.labeled {
  margin-left: 0;
}
*/

.error-outer {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  height: 100px;
}

#flash, #flash.message {
  margin: 0;
}

@font-face {
    font-family: icomoon;
    src: url(/assets/fonts/IcoMoon-Free.ttf);
    font-weight: 400;
    font-style: normal
}

footer {
  background-color: $light-gray;

  .footer {
    .social-icons {
      margin: 0;
      padding: 0;

      li {
        font-family: icomoon;
        display: inline-block;
        font-size: 18pt;
        padding: 10px;

        a {
          color: $medium-gray;
          text-decoration: none;

          &.github {
            &::before {
              content: '\eab2';
            }
            &:hover {
              color: green;
            }
          }

          &.twitter {
            &::before {
              content: '\ea91';
            }
            &:hover {
              color: $medium-blue;
            }
          }

          &.instagram {
            &::before {
              content: '\ea90';
            }
            &:hover {
              color: brown;
            }
          }

          &.codepen {
            &::before {
              content: '\eae4';
            }
            &:hover {
              color: $black;
            }
          }

          &.linkedin {
            &::before {
              content: '\eac9';
            }
            &:hover {
              color: $dark-blue;
            }
          }

          &.flickr {
            &::before {
              content: '\eaa1';
            }
            &:hover {
              color: $medium-pink;
            }
          }

          &.youtube {
            &::before {
              content: '\ea97';
            }
            &:hover {
              color: red;
            }
          }
        }
      }
    }
  }
}

@include breakpoint(768px) {
  header {

    nav {
      float: right;
      margin: -40px 10px 0 0;

      #navbar {
        height: 40px;

        li {
          float: left;
          text-align: left;

          a {
            display: inline;
          }
        }
      }
    }

    h1 {
      text-align: inherit;
    }

    &.headroom--unpinned {
      top: -75px;
    }
  }

  main {
    margin-top: 0;
    padding-top: 250px;
    background: transparent url(/assets/images/cupcakes/header_bg.jpg) repeat-x 2367px -250px;
    background-attachment: fixed;
    background-position-x: left;

    #central,
    #single-central,
    .central,
    .single-central {
      padding: 60px 0 60px 30px;
      margin-top: 0;
    }
  }

  footer {
    background-color: $light-gray;

    .footer {
      .social-icons {

        li {
          font-size: 24pt;
        }
      }
    }
  }

  .navitem,
  .subnavitem {
    float: left;
    border-top: none;
    border-left: 2px solid $medium-pink;
  }

  .subnavfirst ,
  .navfirst {
    border: none;
  }

  .error-outer {
    top: 250px;
  }

  .prev_next {
      margin-bottom: 2em;
      height: 1em;
      .fwd {
        float: right;
      }
  }
}

@include breakpoint(1024px) {
  #center-column, .center-column {
    max-width: 800px;
  }
}

@include breakpoint(1400px) {
  #center-column, .center-column {
    max-width: none;
    width: 1024px;
  }
}
